################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

*.dll
*.exp
*.exp
*.ilk
/Debug/WOtech
/Debug/WOtech.tlog
/Debug/WOtech.tlog/link.command.1.tlog
*.suo
.vs/WOtech/v15/Browse.VC.db
*.ipch
ARM/Debug/AnimatedSprite.obj
*.obj
*.intermediate
ARM/Debug/embed.resfiles
*.resfiles
ARM/Debug/MultipleQualifiersPerDimensionFound.txt
*.pch
ARM/Debug/priconfig.xml
*.log
ARM/Debug/WOtech.tlog/CL.write.1.tlog
*.tlog
ARM/Debug/qualifiers.txt
*.pdb
ARM/Debug/WOtech/WOtech.pri
*.lib
ARM/Release/qualifiers.txt
*.xml
ARM/Release/WOtech/WOtech.pri
*.winmd
Debug/MultipleQualifiersPerDimensionFound.txt
*.txt
Debug/vc141.idb
*.cache
x64/Debug/vc141.idb
*.pri
x64/Release/WOtech/WOtech.ipdb
*.iobj
WOtech.vcxproj.filters
*.vcxproj
Release/WOtech/WOtech.ipdb
*.manifest
*.opendb
*.codeanalysis
*.codeanalysisast
/x64/Debug/pch.pch.codeanalysis
*.codeanalysisast
*.codeanalysis
/Debug/pch.pch.codeanalysis
